.article {
  background: #D4D4D4;
  border-radius: 10px;
  border-width: 2px;
  border-color: #3C3C3E;
}

.article-headline {
  margin: 0px;
  padding: 0px;
}

.article-description {
  font-size: 18px;
}

.coverage-button {
  margin: 10px;
}