/*
CSS for NewsSource File
*/

.images {
    height: 110px;
    width: auto;
    background: black;
}

.newsStory {
    overflow-y: scroll;
}

.fox-news > .panel-heading {
    background-color: red!important
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}